services:
#    king.example:
#        class: KingBundle\Example
#        arguments: ["@service_id", "plain_value", %parameter%]
    king.admin.category:
        class: KingBundle\Admin\CategoryAdmin
        arguments: [~, KingBundle\Entity\Category, SonataAdminBundle:CRUD]
        tags:
            - { name: sonata.admin, manager_type: orm, group: Admin, label: Category }

    king.admin.category_instance:
        class: KingBundle\Admin\CategoryInstanceAdmin
        arguments: [~, KingBundle\Entity\CategoryInstance, SonataAdminBundle:CRUD]
        tags:
            - { name: sonata.admin, manager_type: orm, group: Admin, label: CategoryInstance }

    king.admin.interest:
        class: KingBundle\Admin\InterestAdmin
        arguments: [~, KingBundle\Entity\Interest, SonataAdminBundle:CRUD]
        tags:
            - { name: sonata.admin, manager_type: orm, group: Admin, label: Interest }
    
    king.default_handler:
        class: KingBundle\Service\DefaultHandler
        arguments: ["@doctrine.orm.entity_manager"]
        
    king.upload_handler:
        class: KingBundle\Service\UploadHandler
        arguments: ['%interest_static_image_directory%', '%interest_animated_image_directory%', '%interest_audio_directory%', '%interest_audio_visual_directory%', '%category_instance_image_directory%', '%category_image_directory%', '%icon_image_directory%']

    king.admin.icon:
        class: KingBundle\Admin\IconAdmin
        arguments: [~, KingBundle\Entity\Icon, SonataAdminBundle:CRUD]
        tags:
            - { name: sonata.admin, manager_type: orm, group: Admin, label: Icon }
