services:
#    king.example:
#        class: KingBundle\Example
#        arguments: ["@service_id", "plain_value", %parameter%]
    king.admin.category:
        class: KingBundle\Admin\CategoryAdmin
        arguments: [~, KingBundle\Entity\Category, SonataAdminBundle:CRUD]
        tags:
            - { name: sonata.admin, manager_type: orm, group: admin, label: Category }

    king.admin.category_instance:
        class: KingBundle\Admin\CategoryInstanceAdmin
        arguments: [~, KingBundle\Entity\CategoryInstance, SonataAdminBundle:CRUD]
        tags:
            - { name: sonata.admin, manager_type: orm, group: admin, label: CategoryInstance }

    king.admin.interest:
        class: KingBundle\Admin\InterestAdmin
        arguments: [~, KingBundle\Entity\Interest, SonataAdminBundle:CRUD]
        tags:
            - { name: sonata.admin, manager_type: orm, group: admin, label: Interest }

    king.admin.logo:
        class: KingBundle\Admin\LogoAdmin
        arguments: [~, KingBundle\Entity\Logo, SonataAdminBundle:CRUD]
        tags:
            - { name: sonata.admin, manager_type: orm, group: admin, label: Logo }
    
    king.default_handler:
        class: KingBundle\Service\DefaultHandler
        arguments: ["@doctrine.orm.entity_manager"]
