<td>
    {% if object.name == "" %}
        <img src="{{ asset('images/logo.jpg') }}" alt="{{ object.name }}" width="80px"/>
    {% else %}
        <img src="{{ asset('upload/icon/'~object.name) }}" alt="{{ object.name }}" width="80px"/>
    {% endif %}
</td>
