<div class="row" id="result">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
     <div class="caption">
        <p><img src="{{ asset('images/first.jpg') }}" width="40px"/><a src="##" style="font-size:23px;"> East Airport Branch</a></p>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="http://localhost/KingLocator/web/app_dev.php/result" data-toggle="modal" data-target="#myModal">
                    <i class="glyphicon glyphicon-th"></i> Spintex Rd, Accra, Ghana 
                </a>
            </li>
            <li class="list-group-item"><i class="fa fa-arrow-right"></i> 3rd floor of a story building (color violet) behind KFC 18 Junction </li>
            <li class="list-group-item"><i class="fa fa-whatsapp"></i> 0234 0268 568 006 </li>
            
            
        </ul>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
     <div class="caption">
         <p><img src="{{ asset('images/2nd.jpg') }}"/><a style="font-size:23px;"> Dansoma Branch</a></p>
        <ul class="list-group">
            <li class="list-group-item"><i class="fa fa-arrow-right"></i> 20th Rd, Accra, Ghana </li>
            <li class="list-group-item"><i class="glyphicon glyphicon-phone-alt"></i> 233 0268 568 006</li>
            <li class="list-group-item"><i class="fa fa-whatsapp"></i> 0234 0268 568 006</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-5 col-md-4">
    <div class="thumbnail">
     <div class="caption">
        <p><img src="{{ asset('images/3rd.jpg') }}" width="40px"/><a src="##" style="font-size:23px;"> Kwashima Branch</a></p>
        <ul class="list-group">
            <li class="list-group-item"><i class="fa fa-arrow-right"></i> George W Bush Hwy, Accra, Ghana </li>
            <li class="list-group-item"><i class="glyphicon glyphicon-phone-alt"></i> 233 0268 568 006</li>
            <li class="list-group-item"><i class="fa fa-whatsapp"></i> 0234 0268 568 006</li>
        </ul>
      </div>
    </div>
  </div>
</div>
        